.selected-row {
  background-color: #f0f9ff !important;
}

.modal-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .modal-header {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .modal-logo {
    max-width: 240px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
  }
  
  .modal-title {
    font-size: 1.2 rem;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: left;
  }
  
  .modal-table {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .modal-row {
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  
  .modal-row:last-child {
    border-bottom: none;
  }
  
  .modal-cell {
    flex: 1;
    padding: 8px;
    border-right: 1px solid #ddd;
  }
  
  .modal-cell:last-child {
    border-right: none;
  }

  .header-user-container {
    display: flex;
    align-items: center;        /* Vertikal center */
    justify-content: center;     /* Horizontal center */
    gap: 20px;                  /* Jarak antar tombol */
  }

  @media (max-width: 768px) {
    .ant-typography {
      font-size: 14px; /* Mengurangi ukuran font untuk tampilan mobile */
    }
    .ant-btn {
      font-size: 12px; /* Ukuran font tombol lebih kecil di mobile */
      padding: 6px 10px; /* Mengurangi padding tombol */
    }
    .ant-table {
      font-size: 12px; /* Mengurangi ukuran font tabel */
    }
    .ant-btn-group {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .header-user-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px; /* Lebih kecil pada layar mobile */
    }
  }
  
  
  
  